.navbar {
  width: 100vw;
  background: var(--bg-white);
}

/* .nav-links {} */
/* .nav-actions {} */
.trust-bar {
  background: var(--bg-dark);
  padding: 0 5rem;
}
/* .rating {} */

.stars {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.half-star {
  clip-path: inset(0 50% 0 0);
  margin-right: -8px;
}
