.navbar {
  width: 100vw;
  background: var(--bg-white);
}

.stars {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.half-star-wrapper {
  position: relative;
  display: inline-flex;
}
.half-star-g {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0 50% 0 0);
}
