.navbar {
  width: 100vw;
  background: var(--bg-white);
}
.navbar-top {
  padding: 0 5rem;
  width: 100%;
}
.main-nav {
  background: var(--bg-primary);
}
/* .nav-links {} */
/* .nav-actions {} */
.trust-bar {
  background: var(--)
}
/* .rating {} */

.stars {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.half-star {
  clip-path: inset(0 50% 0 0);
  margin-right: -8px;
}
